<div class="footer">
    <div class="footerItems">
        <div style="width: 30%" >
            <div style="width: 100%;height: 100%;display: block;padding: 0px 20px">
                <div ><span style="color: rgb(125, 184, 38);font-weight:bold;font-size: 60px">LOGO</span></div>
                <p color-whitesmoke font-size-13>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere harum, nihil distinctio consequatur quos ullam rerum dolorum, nihil distinctio consequatur quos ullam rerum dolorum</p>
            </div>
        </div>
        <div style="width: 70%;display: flex">
        <div class="itm" >
            <div style=" width: 100%;height: 100%;display: block;padding: 50px 40px;">
                  <div class="labels" margin-bottom-10>QUICK LINKS</div>
                  <div color-whitesmoke font-size-13><a>Home</a></div>
                  <div color-whitesmoke font-size-13><a>Contacts</a></div>
                  <div color-whitesmoke font-size-13><a>Special</a></div>
            </div>
        </div>
        <div class="itm" >
                <div style=" width: 100%;height: 100%;display: block;padding: 50px 0px;">
                        <div class="labels" margin-bottom-10>CATEGORIES</div>
                        <div color-whitesmoke font-size-13><a>Shop</a></div>
                        <div color-whitesmoke font-size-13><a>Restrant</a></div>
                        <div color-whitesmoke font-size-13><a>All</a></div>
                  </div>
        </div>
        <div class="itm" >
                <div style=" width: 100%;height: 100%;display: block;padding: 50px 0px;">
                        <div class="labels" margin-bottom-10>ABOUT</div>
                        <div color-whitesmoke font-size-13 ><a><i class="material-icons">call</i> +216(0)40 3629 4753</a></div>
                        <div color-whitesmoke font-size-13 ><a><i class="material-icons">email</i> hello@byby.com</a></div>      
                  </div>
        </div>
    </div>
    </div>
</div>