   <div class="dashboard" position-relative>
   <div class="page-body">
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card bg-c-red text-white widget-visitor-card">
                    <div class="card-block-small text-center">
                        <h2>{{dashboardData?.amount}}</h2>
                        <h6>Итого</h6>
                        <i class="fas fa-money-check-alt"></i>
                   </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card bg-c-blue text-white widget-visitor-card">
                    <div class="card-block-small text-center">
                        <h2>{{dashboardData?.startCount}}</h2>
                        <h6>Все заказы </h6>
                        <i class="fas fa-clipboard-list"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card bg-c-yellow text-white widget-visitor-card">
                    <div class="card-block-small text-center">
                        <h2>{{dashboardData?.acceptedCount}}</h2>
                        <h6>Завершенные заказы</h6>
                        <i class="fas fa-clipboard-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <loading-full-screen [loading] = "loading"></loading-full-screen>
</div>