.button{
    background-color: #7db826;
    border-color: none !important;
    color: #fff
}
.button:hover{
    cursor: pointer;
    background-color: #71af17;
    transition: background-color 0.8s
}
.forgot{
    border: 1px solid #bfbfbf;
    padding: 20px;
    border-radius: 2%;
}